.chart-custom {
  height: fit-content;
  padding: 7px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.breadcrumb {
  background-color: white !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}